{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row " id="contact">
      <div class="col-md-12">
        <h1 class="text-white fw-bold">ABOUT US</h1>
        <p class="text-white">If you're stranded with a vehicle that needs to be towed,
          <br> we've got you covered.</p>
    </div>
    </div>
   
<div class="row mt-5">
    <div class="col-md-5 offset-1">
        <p class="text-info fw-bold">What WE OFFER</p>
        <h1> Reliable and Cost-effective Car Services</h1>
        <p>Car Servicing, Car repairs and Car cleaning - we are your one-stop solution for all things cars.

            A brainchild of 4 friends - Kushal Karwa, Amit Bhasin, Rishabh Karwa and Nitin Rana, GoMechanic is a network of technology-enabled car service centres, offering a seamless car service experience at the convenience of a tap. With our highly skilled technicians, manufacturer recommended procedures and the promise of genuine spare parts we are your best bet.
            
            Stay in the comforts of your home or office and make the most of our complimentary pick-up and drop-in service. Count on us to be your personal car care expert, advisor and car mechanic.

            Ellentesque gravida et sem nec malesuada. Proin augue nisi, molestie eu tempor ut, blandit at enim. Ut eu auctor augue, ut porta eros. Praesent eros augue, iaculis at lectus a, tincidunt semper tortor.</p>
            <!--<i class="fa-brands fa-servicestack text-info"></i>
            <p class="text-info">Service In 20 Minutes</p>
            <i class="fa-solid fa-tv text-info"></i>
            <p class="text-info">Discount on Online Orders</p>-->
    </div>
    <div class="col-md-1">
        
            <i class="fa-solid fa-mobile-button text-light fa-2x rounded-circle p-3 bg-info"></i>
            <br><br><br><br>
            <i class="fa-solid fa-thumbs-up text-light fa-2x rounded-circle p-3 bg-info"></i>
            <br><br><br><br>

            <i class="fa-sharp fa-solid fa-road text-light fa-2x rounded-circle p-3 bg-info"></i>
        </div>
    
    <div class="col-md-5" id="icons">
       
    </div>

</div>
<!--copy-->
<div class="row p-5 mt-5">
	<div class="col-md-12">
	<h5 class="fw-bold text-info text-center">OUR TESTIMONIALS</h5>
	<p class="display-5 fw-bold text-center">Why Clients Love Us</p>
	<div id="myCarouse4" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner w-100 mt-5">
        <div class="carousel-item active">
            <div class="col-md-6 ps-5 shadow">
                <div class="card card-body">
                    
				<div class="row ">
				<div class="col-md-3">
                    <img class="img-fluid" src="{% static 'review1.jpg' %}">
					</div>
					<div class="col-md-9">
					<p class="fw-bold text-info">BERNARD K. GUZMAN</p>
					<p>Purchased<span class="fw-bold text-info"> a 2016 Honda Pilot</span></p>
					
					
					</div>
					<div class="col-md-12 mt-3">
					<p>Recently I had an oil leak on the Turnpike and had to have my car towed. As you are a state road .
					I had to be towed by the company who had the contract.it turned out to be yours towing in Elizabeth.</p>
					</div>
                </div>

               
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-6 ps-4 shadow">
                <div class="card card-body">
			<div class="row">
				<div class="col-md-3">
                    <img class="img-fluid" src="{% static 'review2.jpg' %}">
					</div>
					<div class="col-md-9">
					<p class="fw-bold text-info">ANNE D. BURKE</p>
					<p>get helped for<span class="fw-bold text-info"> towing emergency</span></p>
					<i class="fa-solid fa-star text-info"></i>
					<i class="fa-solid fa-star text-info"></i>
					<i class="fa-solid fa-star text-info"></i>
					<i class="fa-solid fa-star text-info"></i>
					<i class="fa-solid fa-star-half-stroke text-info"></i>
					</div>
					<div class="col-md-12 mt-3">
                        <p>Sorry it has taken me this long to get a thank you note sent out for the best service I have ever received, from the towing to the great work done on my vehicle.</p>
					
					</div>
                </div>

            
            </div>
        </div>
     </div>
</div>
        </div>
        </div>
        </div>
        <!--counter-->
        <div class="row" id="b1">
             <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-3">
                <i class="fa-solid fa-car fs-2 text-info rounded-circle border border-info  p-4 " >
                    </i>
                <h1 class="text-bold text-white counter">110</h1>
                <p class="text-white">Total Projects</p></div>
                <div class="col-md-3">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-sharp fa-solid fa-city fs-3 text-info rounded-circle p-4 border border-info "></i>
       <h1 class="text-bold text-white Counter">23</h1>
                <p class="text-white">Served Communities</p></div>
                <div class="col-md-3">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-users fs-2 text-info rounded-circle p-4 border border-info"></i>
       <h1 class="text-bold text-white counter">70</h1>
                <p class="text-white">Employes working</p></div>
                <div class="col-md-3">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa-solid fa-heart fs-2 text-info rounded-circle p-4 border border-info"></i>
       <h1 class="text-bold text-white counter">514</h1>
                <p class="text-white">Active Users</p></div>
     
            </div>
             </div>

        </div>
    
<!--row start-->
        <div class="row mt-5">
            <p class="text-info fw-bold text-center">LATEST NEWS</p>
            <h1 class="text-center">Auto Blog News</h1>
        </div>
        
<!--end row-->

<div class="row mt-5">
	<div class="col-md-12"></div>
	<div class="container text-center my-3">
    <h2 class="font-weight-light"></h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="{% static 'card-img'%}">
                                <img src="{% static 's1.jpg'%}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"> <h1>hello everyone </h1></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 's2.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 's3.jpg'%}" class="img-fluid">
                            </div>
                        
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


          </h2>
          <div id="flush-collapse{{ fq.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ fq.id }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{ fq.answer }}</div>
          </div>
        </div>
        
       
      </div>

       
    </div>
   
    </div>
    </div>
</div>


{% endblock %}