{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
<div class="row " id="contact">
  <div class="col-md-12  mt-5">
    <h1 class="text-white fw-bold">CONTACT US</h1>
    <p class="text-white">If you're stranded with a vehicle that needs to be towed,
      <br> we've got you covered.</p>
</div>
</div>
<div class="row">
  <div class="col-md-12">
     <p class="text-info text-center mt-5 fw-bold">HOW CAN YOU MEET US </p>
<h1 class="text-center mt-2">Find Us In Map</h1>
</div>
</div>
<div class="row">
  <div class="col-md-12 text-center mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6888.132908526168!2d74.
    82840653783626!3d30.320627549142145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391736f92e71
    4b0d%3A0x90249454cd0d4112!2sMehma%20Sawai%2C%20Punjab%20151201!5e0!3m2!1sen!2sin!4v1683695705490!5m2!1
    sen!2sin" width="1600" height="600" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</div>
<!--row-->
<div class="row">
  <div class="col-md-4 p-5 ps-5 text-center">
    
    <i class="fa-solid fa-sharp fa-regular fa-location-dot fs-1 text-info"></i>
  <p class="fw-bold text-info mt-2 ">Location</p>
      <p>VPO. Mehma Sawai, Distt: Bathinda, </p>
      <p>Near Shiv Mander</p>
  </div>
      <div class="col-md-4 p-5 ps-5 text-center">
        <i class=" fa-solid text-info fs-1 fa-light fa-envelopes-bulk"></i> 
        <p class="fw-bold text-info mt-2 ">Email<o/p>
        <p>Vehiclebreakdown@gmail.com</p>
        <p>Sukhjindersinghh110@gmail.com</p>
      </div>

      <div class="col-md-4 p-5 ps-5 text-center">
        <i class="fa-solid text-info fs-1 fa-regular fa-phone-volume"></i> 
        <p class="fw-bold text-info mt-2 ">Call</p>
        <p>84270-48854</p>
        <p>77174-61790</p>
      </div>
      </div>
      <form action="/insertcontact/" method="post" >
        {% csrf_token %}
      <div class="row p-5">
        <h4 class="fw-bold text-info text-center">Contact US</h4>
	<h1 class="display-2 text-center">Send us Message</h1>
        <div class="col-md-4 offset-2 ">
        
            <input type="text" name="name" placeholder="Name" class="form-control"/><br>
            <input type="text" name="email" placeholder="Email" class="form-control"/><br>
            <input type="text" name="phone" placeholder="phone" class="form-control"/>
          
         
        </div>
        <div class="col-md-5">
          <textarea class="form-control" name="message"  rows="6" placeholder="Message"></textarea>
        </div>
        <div class="col-md-8 offset-4 mt-3">
          <button  class="btn btn-info">Send Message</button>
        </div>
     
      </div>
    </form>
</div>


{% endblock %}