{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="conatiner-fluid">
	<div class="row" id="service2">
		<div class="col-md-12">
			<h1 class="fw-bold text-light">OUR SERVICES</h1>
				<p class="text-light">If you're stranded with a vehicle that needs to be towed, we've got you covered.
				</p>

		</div>

	</div>
	<div class="row mt-5">
		<!--<h4 class="text-info text-center fw-bold">OUR SERVICES</h4>
		<h1 class=" text-center ">Services Overview</h1>
		<div class="col-md-5 offset-1 mt-5">
			<p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu diam eget sapien
				placerat fringilla</p><br>
			<p>Phasellus vitae consequat velit, et rhoncus velit. Morbi egestas lobortis dia sed mollis sapien gravida
				non.
				Ut metus lectus, gravida a condimentum sed, bibw dum et augue. Nulla facilisi ut eleifend.
			</p><br>
			<p>Nunc diam sapien, cursus ac turpis sit amet, feugiat tempor mauris. Donec mollis finibus nulla in
				ultricies.
				Mauris euismod facilisis ligula.</p>
			<button class="btn btn-info text-light fw-bold">Make Appointments</button>
		</div>
		<div class="col-md-6 mt-5 ">
			<img src="{% static 's3.jpg' %}" height="300px" width="90%" />

		</div>-->

	</div>
	<div class="row mt-5 p-5">
		<h4 class="text-info text-center fw-bold">OUR SERVICES</h4>
		<h1 class=" text-center ">Services Overview</h1>
		<div class="col-md-3 text-center mt-5 ps-5">
			<i class="fa-regular fa-heart fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">INCLUSIVE</h5>
			<p>Towing and roadside assistance Whatever it may be we’re here for you!</p>
		</div>
		<div class="col-md-3 text-center mt-5">
			<i class="fa fa-tag fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">BEST PRICES</h5>
			<p>No membership fees! Your prices will accordind to service</p>
		</div>

		<div class="col-md-3 text-center mt-5">
			<i class="fa fa-person-running fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">WE’RE FAST</h5>
			<p>We come between 15-30 minute & have a 24/7 full time service.</p>
		</div>
		<div class="col-md-3 text-center mt-5">
			<i class="fa-solid fa-dollar-sign fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">IT’S EASY</h5>
			<p>Haggle & hassle free for everybody. No cash required! It’s a promise!</p>
		</div>

	</div>
	<div class="row  p-2 ">
		<div class="col-md-3 text-center mt-5 ps-5">
			<i class="fa-solid fa-car-side fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">TYRE AND WHEELS</h5>
			<p>We come between 15-30 minute.</p>
		</div>
		<div class="col-md-3 text-center mt-5">
			<i class="fa-solid fa-person fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">ENGINE WORK</h5>
			<p>Haggle & hassle free for everybody. No cash required! It’s a promise!</p>
		</div>

		<div class="col-md-3 text-center mt-5">
			<i class="fa-solid fa-droplet fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">OIL CHANGES</h5>
			<p>No membership fees! Your prices will according to vehivle</p>
		</div>
		<div class="col-md-3 text-center mt-5">
			<i class="fa-regular fa-heart fs-1 text-info"></i>
			<h5 class="text-info text-center mt-3 fw-bold">EXTRA OPTIONS
			</h5>
			<p>Towing and roadside assistance Whatever it may be we’re here for you!</p>
		</div>

	</div>
	<div class="row mt-5">

		<div class="col-md-8 mt-5 start">
			<p class="display-5 fw-bold">How It Works</p>
			<div class="row">
				<div class="col-md-2  mt-4">
					<i class="fa-solid fa-mobile-button text-light fa-2x rounded-circle p-3 bg-info"></i>
					<br><br><br><br>
					<i class="fa-solid fa-thumbs-up text-light fa-2x rounded-circle p-3 bg-info"></i>
					<br><br><br><br>

					<i class="fa-sharp fa-solid fa-road text-light fa-2x rounded-circle p-3 bg-info"></i>
				</div>
				<div class="col-md-10 mt-4 ">
					<h5 class="fw-bold text-info ">FIND AND ORDER HELP</h5>
					<P>One of our 20,000 approved roadside professionals arrives quickly to expertly
						solve your problem.
					</P>
					<br><br>

					<h5 class="fw-bold text-info ">PROFESSIONAL COMPANY</h5>
					<P>One of our 20,000 approved roadside professionals arrives quickly to expertly
						solve your problem.
					</P>
					<br><br>

					<h5 class="fw-bold text-info ">YOU’LL GET BACK ON THE ROAD IN NO-TIME!</h5>
					<P>Use the app to tell us your problem, pinpoint your location and securely pay.</P>

				</div>
			</div>
		</div>
		<div class="col-md-4 mt-5">
			<img src="{% static 'b1.jpg' %}" />
		</div>
	</div>
	<!--<div class="row p-5">
	
	<h4 class="fw-bold text-info text-center">Contact US</h4>
	<h1 class="display-2 text-center">Send us Message</h1>
	
	<div class="col-md-4 offset-2 mt-4">
		<form  action="/insertservices/" method="post" >
			{% csrf_token %} 
            <input type="text" name="name" placeholder="Name" class="form-control"/><br>
            <input type="text"  name="email" placeholder="email" class="form-control"/><br>
            <input type="text"  name="phone" placeholder="phone" class="form-control"/>
          </form>
          
		  <button type="submit" class="btn btn-success" >Send Message</button>

	</div>
	<div class="col-md-5 mt-4">
		<textarea class="form-control"  name="message"  rows="6" placeholder="Message"></textarea>
	</div>
	
	</div>-->

</div>












{% endblock %}